[Desktop Entry]
Name=sieve-NG
Exec=sieve-ng
Icon=sieve
Type=Application
Categories=Utility;
Terminal=false
Comment=Tool to Manage Sieve Message Filters
