<div>
  <div id="template-tabs">
    <button class="nav-link active" data-i18n="comment.tab" data-bs-toggle="tab" data-bs-target="#sivCommentTab"></button>
  </div>
  <div id="template-content">
    <div class="tab-pane fade show active" id="sivCommentTab">
      <div class="mb-3">
        <label class="form-label" for="sivCommentText" data-i18n="comment.label"></label>
        <textarea class="form-control" id="sivCommentText" rows="4" required></textarea>
      </div>
    </div>
  </div>
</div>
