<div>
  <div id="template-tabs">
    <button class="nav-link active" data-i18n="rulename.tab" data-bs-toggle="tab" data-bs-target="#sivRuleNameTab"></button>
  </div>
  <div id="template-content">
    <div class="tab-pane fade show active" id="sivRuleNameTab">
      <div class="mb-3">
        <label class="form-label" for="sivRuleName" data-i18n="rulename.label"></label>
        <input class="form-control" id="sivRuleName" type="text" required>
        <div class="form-text" data-i18n="rulename.help"></div>
      </div>
    </div>
  </div>
</div>
